*{
    margin: 0;
    padding: 0;
}

.content{
    background: rgb(6, 51, 119);
    height: 150vh;
}
.main-conten{
    padding-top: 30px;

}
.main-h1{
    font-size: 30px;
    color: white;
}
.main-h3{
    margin-top: 40px;
    color: white;
    margin-left: -180px;
    
}
.main-h3:after{
    content: "";
    display: block;
    margin: 0 auto;
    width: 50px;
    padding-top: 10px;
    border-bottom: 1px solid white;
}
.main-input{
    padding: 10px 40px;
    margin-top: 30px;
    border: none;
}
.main-button{
    padding: 10px 80px;
    font-size: 15px;
    font-family: sans-serif;
    color: rgb(6, 51, 119);
    margin-top: 20px;
    border: none;
}
.main-button:hover{
  color: white;
  background: rgb(117, 119, 6);
}
.git{
    
    color: white;
    margin-top: 20px;
    justify-content: center;
    align-items: center;
}
.first-h1{
    font-size: 30px;
   
}
.p{
    font-size: 18px;
    margin: 18px 20px;
    align-self: center;
}
.contents{
    margin-top: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.p-details{
    margin-left: -140px;
    position: absolute;
}
.p-det{
    margin-left: 110px;
    position: absolute;
}

.second-div{
    margin-top: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.h3-j{
    margin-left:  -140px;
    position: absolute;
}
.h3-j:after{
    content: "";
    display: block;
    margin: 0 auto;
    width: auto;
    padding-top: 7px;
    border-bottom: 1px solid white;
}
.main-j{
    margin-left: 130px;
    position: absolute;
}
.main-j:after{
    content: "";
    display: block;
    margin: 0 auto;
    width: 50px;
    padding-top: 7px;
    border-bottom: 1px solid white;
}
.img{
    width: 50px;
    margin-left: 220px;
    position: relative;
}
.arranged-p{
    justify-content: center;
    margin-top: 40px;
    margin-left: -90px;
}
.arranged-p1{
    justify-content: center;
    margin-top: -9px;
    margin-left: -70px;
}
.arranged-p2{
    justify-content: center;
    margin-top: 25px;
    margin-left: -70px;
}